html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: "Newsreader", sans-serif;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 20% auto;
    grid-template-areas:
        "header header"
        "body sidebar";
    column-gap: 10px;
    row-gap: 10px;
    ;

}

.header {
    background: rgb(214, 214, 243);
    margin: 10px 0px 0px 30px;
    padding-left: 0px;
    border-radius: 60px 0px 0px 60px;
    grid-area: header;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 2;
    position: relative;
}



.header h1 {
    margin-top: 15px;
    font-size: 3em;
    position: absolute;
    left: 350px;
    top: 50px;
}

.header h3 {
    font-size: 2em;
    font-weight: 400;
    color: #555;
    position: absolute;
    left: 370px;
    top: 100px;
}


div img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

#selfie {
    grid-area: img;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    margin-right: auto;
}

.contact {
    margin: 0 130px 0 auto;
    font-size: 1em;
    position: absolute;
    left: 925px;
}

h2 {
    font-size: 28px;
    background-color: rgb(214, 214, 243);
    padding: 5px 40px 5px 70px;
    margin: 10px 30px 0 0;
    border-radius: 0 60px 60px 0;
    display: inline-block;
    position: relative;
}

.main-content {
    grid-area: body;
    margin-top: 60px;
}

.sidebar {
    background-color: rgba(213, 206, 215, 0.923);
    background-size: 100%;
    background-position: center;
    grid-area: sidebar;
    height: 1100px;
    width: 370px;
    margin: 0;
    margin-right: 50px;
    padding-top: 70px;
    z-index: 1;
    position: absolute;
    left: 900px;
}


.group {
    margin-bottom: 30px;
    line-height: 1.5;
    margin-left: 20px;
    padding-top: 20px;
}

.date {
    color: rgb(109, 108, 108);
    position: relative;
    letter-spacing: 0px;
    font-weight: 450;
}

.main-content li::marker {
    color: rgb(214, 214, 243);
}

.location {
    position: relative;
    top: -25px;
}

h1,
h2 {
    font-weight: 450;
    letter-spacing: 2px;
}

.education h2 {
    position: absolute;
    top: 250px;
}

.highschool {
    position: absolute;
    top: 300px;
}

.college {
    position: absolute;
    top: 375px;
}

.work-experience h2 {
    position: absolute;
    top: 500px;
}

.holmans {
    position: absolute;
    top: 550px;
}

.devils {
    position: absolute;
    top: 825px;
}

.skills {
    position: absolute;
    top: 250px;
}

.classwork {
    position: absolute;
    top: 500px;
}

.location {
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 500;
    color: rgb(69, 69, 69);
    position: relative;
    left: 10px;
}

.college .date {
    left: 450px;
    top: -83px;
}

.highschool .date {
    left: 400px;
    top: -83px;
}

.work-experience .date {
    top: -30px;
}

.main-content ul {
    position: relative;
    top: -15px;
}