html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: "Newsreader", sans-serif;
    display: grid;
    grid-template-columns: auto 450px;
    grid-template-rows: 20% auto;
    grid-template-areas:
        "header header"
        "body sidebar";
    column-gap: 10px;
    row-gap: 10px;
    ;

}

.header {
    background: rgb(214, 214, 243);
    margin: 10px 0px 0px 30px;
    padding-left: 0px;
    border-radius: 60px 0px 0px 60px;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 2;
    grid-area: header;
}



h1 {
    margin-top: 15px;
    font-size: 3em;
    position: absolute;
    left: 350px;
    top: 50px;
    width: max-content;
}

.header h3 {
    font-size: 2em;
    font-weight: 400;
    color: #555;
    position: absolute;
    left: 315px;
    top: 100px;
    width: max-content;
}


div img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

#selfie {
    grid-area: img;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    margin-right: auto;
}

.contact {
    margin: 0 130px 0 auto;
    font-size: 1em;
    position: absolute;
    left: 925px;
    width: max-content;
}

.main-content {
    grid-area: body;
    margin-top: 60px;
    width: max-content;
    margin-left: 0;
}

.sidebar {
    background-color: rgba(213, 206, 215, 0.923);
    height: 1100px;
    margin: 0;
    margin-right: 100px;
    z-index: 1;
    position: relative;
    grid-area: sidebar;
    width: max-content;
}

.sidebar h3,
.sidebar ul {
    position: relative;
    top: 100px;
}

.sidebar h3 {
    letter-spacing: 1.2px;
    font-size: larger;
    margin-top: 20px;
}

.sidebar ul {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 40px;
    position: relative;
    left: -10px;
    letter-spacing: .1px;
}

.date {
    color: rgb(109, 108, 108);
    position: relative;
    letter-spacing: 0px;
    font-weight: 450;
}

.main-content li::marker {
    color: rgb(214, 214, 243);
}

h1,
h2 {
    font-weight: 500;
    letter-spacing: 3px;
}

h2 {
    font-size: 28px;
    background-color: rgb(214, 214, 243);
    padding: 5px 80px 5px 100px;
    margin: 30px 30px 20px 0;
    border-radius: 0 60px 60px 0;
    display: inline-block;
    position: relative;


}

h3 {
    letter-spacing: 1.1px;
    font-size: 1.3em;
}

.education h2 {
    margin-top: 40px;
}

.work-experience h2 {
    margin-top: 30px
}

.group {
    margin: 40px 20px;
    line-height: 0;
}

.location {
    margin-top: 0px;
    margin-left: 10px;
    letter-spacing: 1.1px;
    font-weight: 550;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    line-height: 30px;
}

.work-experience .date {
    position: relative;
    top: -40px;
    left: 25px;
    float: inline-end;
}

.highschool .date {
    position: relative;
    top: -35px;
    left: 250px;
}

.college .date {
    position: relative;
    top: -35px;
    left: 500px;
}