html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: "Newsreader", sans-serif;
}

#resume {
    display: grid;
    grid-template-columns: auto 450px;
    grid-template-rows: 20% auto;
    grid-template-areas:
        "header header"
        "body sidebar";
    column-gap: 10px;
    row-gap: 10px;
    ;
}

#cover {
    display: grid;
    grid-template-rows: 20% auto;
    grid-template-columns: auto 450px;
    grid-template-areas:
        "header header"
        "body body";
    column-gap: 10px;
    row-gap: 10px;
}

.header {
    background: rgb(214, 214, 243);
    margin: 10px 0px 0px 30px;
    padding-left: 0px;
    border-radius: 60px 0px 0px 60px;
    height: 200px;
    display: grid;
    grid-template-columns: 200px auto 450px;
    grid-template-rows: 10% auto;
    grid-template-areas:
        "img nav contact"
        "img title contact";
    z-index: 2;
    grid-area: header;
}


.nav {
    grid-area: nav;
    display: inline-flex;
    flex-direction: row;
    min-width: max-content;
    justify-content: space-evenly;
    margin: 5px auto;
}



.nav a {
    margin: 15px 20px;
    justify-self: space-evenly;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #555;
}

.nav a:active,
a:hover {
    color: #7600ad !important;
}

.contact a:visited,
.contact a:link {
    color: black;
}


h1 {
    font-size: 3em;
    position: relative;
    left: 40px;
}

.title {
    width: max-content;
    position: relative;
    top: 20px;
    grid-area: title;
    margin: 0 auto;

}

.header h3 {
    font-size: 2em;
    font-weight: 400;
    color: #555;
}


div img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

#selfie {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    grid-area: img;
}

.contact {
    font-size: 1em;
    grid-area: contact;
    margin: 5px 170px 5px auto;
    padding-left: 15px;
    width: max-content;
}

.main-content {
    grid-area: body;
    margin-top: 60px;
    width: max-content;
    margin-left: 0;
}

.sidebar {
    background-color: rgba(213, 206, 215, 0.923);
    height: 100%;
    margin: 0;
    margin-right: 100px;
    z-index: 1;
    position: relative;
    grid-area: sidebar;
    width: max-content;
}

.sidebar h3,
.sidebar ul {
    position: relative;
    top: 100px;
}

.sidebar h3 {
    letter-spacing: 1.2px;
    font-size: larger;
    margin-top: 20px;
}

.sidebar ul {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 40px;
    position: relative;
    left: -10px;
    letter-spacing: .1px;
}

.date {
    color: rgb(109, 108, 108);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0px;
    font-size: smaller;
    text-align: right;
    display: block;
    line-height: 0;
}

.main-content li::marker {
    color: rgb(190, 190, 243);
}

h1,
h2 {
    font-weight: 500;
    letter-spacing: 3px;
}

h2 {
    font-size: 28px;
    background-color: rgb(214, 214, 243);
    padding: 5px 80px 5px 100px;
    margin: 30px 30px 20px 0;
    border-radius: 0 60px 60px 0;
    display: inline-block;
    position: relative;
}

h3 {
    letter-spacing: 1.1px;
    font-size: 1.3em;
    line-height: 0;
}

h3 div {
    font-weight: lighter;
    display: inline-block;
    font-size: smaller;
}

.education h2 {
    margin-top: 40px;
}

.work-experience h2 {
    margin-top: 30px
}

.group {
    margin: 40px 20px;
}

.indent {
    padding-left: 100px;
}

.location {
    margin: 0px 10px 5px 10px;
    letter-spacing: 1.1px;
    font-weight: 550;
    font-size: small;
    line-height: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    line-height: 30px;
}

.paragraphs {
    grid-area: body;
    white-space: normal;
    width: 850px;
    display: block;
    line-height: 1.6;
    text-align: left;
}

.intro {
    text-indent: 20px;
}

#cover .main-content {
    grid-area: body;
    margin-top: 60px;
    width: max-xontent;
    margin: 40px auto;
}