body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    padding: 0;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 20% auto;
    grid-template-areas:
        "header header"
        "body sidebar";
    column-gap: 10px;
    row-gap: 10px;
    ;

}

.header {
    background: rgb(214, 214, 243);
    margin: 10px 0px 0px 30px;
    padding-left: 0px;
    border-radius: 60px 0px 0px 60px;
    grid-area: header;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 2;
}



.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
}

.row {
    display: inline-block;
}

.header h1 {
    margin-top: 15px;
    font-size: 2.5em;
    flex-flow: column;
}

.header h3 {
    font-size: 1.5em;
    font-weight: normal;
    color: #555;
}


div img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

#selfie {
    grid-area: img;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    margin-right: auto;
}

.contact {
    margin: 0 100px 0 auto;
    font-size: 1em;
}

h2 {
    text-decoration: underline;
    font-size: 28px;
    background-color: rgb(214, 214, 243);
    padding: 5px 20px;
    margin: 10px 30px 10px 0;
    border-radius: 0px 60px 60px 0px;
}

.main-content {
    grid-area: body;
    margin-top: 60px;
}

.sidebar {
    grid-area: sidebar;
    background-color: rgba(213, 206, 215, 0.923);
    background-size: auto 100vh;
    background-position: center;
    height: 100vh;
    padding: 40px;
    margin: 0;
    margin-right: 30px;
    padding-top: 50px;
    z-index: 1;
    min-width: fit-content;
}

.group {
    margin-bottom: 30px;
    line-height: 1.5;
    margin-left: 20px;
    padding-top: 20px;
}