body {
    margin: auto;
    padding: 0;
    font-family: "Newsreader", sans-serif;
    display: grid;
    grid-template-rows: 300px auto;
    grid-template-columns: 200px 800px 400px;
    max-width: 1400px;
    height: fit-content;
    border: 1px solid rgba(213, 206, 215, 0.923);
    align-items: center;
}

/* header */

header {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    background-color: rgb(214, 214, 243);
    width: 100%;
    height: 250px;
    z-index: 2;
    margin-top: 20px;
    display: flex;
    border-radius: 150px 0 0 150px;
    margin-left: 5px;
    margin: 20px 5px 5px 2px;
}

#selfie {
    /* selfie image */
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    align-self: center;
}

/* navigation bar */

#nav {
    /* nav links */
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    min-width: max-content;
}

#nav a {
    margin: 15px 20px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #555;
}

#nav a:active,
a:hover {
    color: #7600ad !important;
}

/* nav, name, title */

#title {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    align-items: center;
    text-align: center;
    margin: auto;
    min-width: max-content;
    position: relative;
    top: -20px;
    left: 30px;
}

h1 {
    font-size: 3em;
}

h1,
h2 {
    font-weight: 500;
    letter-spacing: 3px;
}

#title h3 {
    font-size: 2em;
    font-weight: 400;
    color: #555;
}

#title div {
    margin-top: 20px;
}

/* contact info */

#contact {
    padding: 0;
    flex: right;
    margin-right: 10%;
    line-height: 1.5em;
    font-size: 1em;
    min-width: max-content;
    position: relative;
    top: -10px;
}

#contact li {
    list-style-type: none;
}

#contact a:visited,
#contact a:link {
    color: black;
}

#contact img {
    /* icons for linkedin and github */
    width: 30px;
    height: 30px;
    margin-right: 8px;
    position: relative;
    top: 8px;
}

/* sidebar */

#sidebar {
    grid-column: 3 / span 1;
    grid-row: 1 / span 3;
    background-color: rgba(213, 206, 215, 0.923);
    height: 100vh;
    z-index: 1;
    margin-right: 5%;
    width: 300px;
    padding: 350px 20px;
}

#sidebar h3 {
    letter-spacing: 1.2px;
    font-size: larger;
    margin-top: 20px;
}

#sidebar ul {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 40px;
    letter-spacing: .1px;
    font-size: smaller;
}

/* body-all */
article {
    width: 1350px;
}

h2 {
    font-size: 28px;
    background-color: rgb(214, 214, 243);
    padding: 5px 80px 5px 100px;
    margin: 10px 30px 20px 0;
    border-radius: 0px 60px 60px 0px;
    display: inline-block;
}

.group {
    margin: 40px auto;
}

h3 {
    letter-spacing: 1.1px;
    font-size: 1.3em;
    line-height: 0;
}

h3 div {
    font-weight: lighter;
    display: inline-block;
    font-size: smaller;
}

ul {
    line-height: 30px;
}

.indent {
    margin-left: 50px;
}


/* resume-specific */

#resume article {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    width: max-content;
    margin-left: 0;
    position: relative;
    top: -40px;
}

#work-experience h2 {
    margin-top: 30px
}

.location {
    margin: 0px 10px 5px 10px;
    letter-spacing: 1.1px;
    font-weight: 550;
    font-size: small;
    line-height: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.date {
    color: rgb(109, 108, 108);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0px;
    font-size: smaller;
    text-align: right;
    display: block;
    line-height: 0;
}

article li::marker {
    color: rgb(190, 190, 243);
}

/* cover letter-specific */

#cover article {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
    width: 800px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}


#paragraphs {
    line-height: 2;
}

/* career goals-specific */

#career article {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    margin-left: 0;
    position: relative;
    top: -50px;
    width: 90%;
}

#aboutme p {
    line-height: 2;
}