* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    padding: 0;
    font-family: "Newsreader", sans-serif;
    display: grid;
    grid-template-rows: 300px auto 100px;
    grid-template-columns: 950px 400px;
    max-width: 1350px;
    height: max-content;
    border: 1px solid rgba(213, 206, 215, 0.923);
    box-sizing: border-box;
    align-items: center;
}

/* header */

header {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    background-color: rgb(214, 214, 243);
    width: 100%;
    height: 250px;
    z-index: 2;
    display: flex;
    border-radius: 150px 0 0 150px;
    margin: 20px 5px 35px 2px;
}

#selfie {
    /* selfie image */
    border-radius: 50%;
    width: 250px;
    height: 250px;
    align-self: center;
}

/* navigation bar */

nav {
    display: flex;
    justify-content: space-evenly;
    min-width: max-content;
    margin: auto auto 40px auto;
    vertical-align: text-top;
    position: relative;
    top: -15px;
}

nav a {
    margin: 5px 20px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #555;
    display: inline;
}

a:hover,
a:active {
    color: white !important;
}

mark {
    background-color: rgb(214, 214, 243);
    color: black;
    font-size: large;
}

mark:hover {
    cursor: default;
}

/* nav, name, title */

#title {
    align-items: center;
    text-align: center;
    margin: auto;
    min-width: max-content;
    position: relative;
    top: -20px;
    left: 30px;
}

h1 {
    font-size: 3em;
    margin-bottom: 30px;
    vertical-align: center;
}

h1,
h2 {
    font-weight: 500;
    letter-spacing: 3px;
}

#title h3 {
    font-size: 2em;
    font-weight: 400;
    color: #555;
}

#title div {
    margin-top: 20px;
}

/* contact info */

#contact {
    padding: 0;
    flex: right;
    margin-right: 10%;
    line-height: 1.5em;
    font-size: 1em;
    min-width: max-content;
    position: relative;
    top: -10px;
}

#contact li {
    list-style-type: none;
}

#contact a:visited,
#contact a:link {
    color: black;
}

img[alt="linkedin logo image"] {
    /* icons for linkedin and github */
    width: 30px;
    height: 30px;
    margin-right: 8px;
    position: relative;
    top: 8px;
}

img[alt="github logo image"] {
    width: 40px;
    height: 40px;
    position: relative;
    top: 12px;
}

#github {
    position: relative;
    left: -5px;
    top: -9px;
}

/* sidebar */

#sidebar {
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
    background-color: rgba(213, 206, 215, 0.923);
    height: 100vh;
    z-index: 1;
    margin: 0 10px 0 5px;
    width: 300px;
    padding: 350px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: .1px;
}

#sidebar h3 {
    letter-spacing: 1.2px;
    font-size: larger;
    margin: 20px auto;
}


/* body */

h2 {
    font-size: 28px;
    background-color: rgb(214, 214, 243);
    padding: 5px 80px 5px 100px;
    margin-right: 0;
    border-radius: 0px 60px 60px 0px;
    display: inline-block;
}

.group {
    margin: 40px auto;
}

h3 {
    letter-spacing: 1.1px;
    font-size: 1.3em;
    line-height: 0;
    margin-bottom: 10px;
}

h3 div {
    font-weight: lighter;
    display: inline-block;
    font-size: smaller;
}

ul {
    line-height: 30px;
    margin-top: 10px;
}

.indent {
    margin-left: 50px;
}

/* footer */
footer {
    display: grid;
    grid-row: 3 / 4;
    text-align: center;
    height: 100px;
}

#resume footer,
#career footer {
    grid-column: 1 / 2;
}

#cover footer {
    grid-column: 1 / span 2;
}

/* resume-specific */

#resume main {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: max-content;
    height: max-content;
    margin-left: 0;
    position: relative;
    top: -40px;
}

#work-experience h2 {
    margin-top: 30px
}

.location {
    margin: 0px 10px 5px 10px;
    letter-spacing: 1.1px;
    font-weight: 550;
    font-size: small;
    line-height: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.date {
    color: rgb(109, 108, 108);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0px;
    font-size: smaller;
    text-align: right;
    display: block;
    line-height: 0;
}

main li::marker {
    color: rgb(190, 190, 243);
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    margin: auto;
}


td,
th {
    border: 2px solid rgb(190, 190, 243);
    padding: 25px;
    text-align: center;
    margin-left: 10px;
    box-sizing: border-box;
    width: 200px;
}

caption {
    text-align: start;
    margin-bottom: 10px;
}

#sidebar ul {
    line-height: 40px;
    font-size: small;

}

/* cover letter-specific */

#cover main {
    grid-row: 2 / 3;
    grid-column: 1 / span 2;
    width: 800px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
}


/* career goals-specific */

#career main {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-left: 0;
    width: 850px;
    position: relative;
    top: -50px;
    width: 90%;
}

#career h3 {
    margin-bottom: 15px;
}

#aboutme p {
    line-height: 2;
    margin-top: 20px;
}

#videoaudio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#videoaudio section {
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

#sidebar p,
#sidebar label {
    line-height: 1.5;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 0px 1000px rgb(215, 215, 247) inset;
}

input[type="radio"],
input[type="checkbox"] {
    accent-color: black;
}

input[type="submit"],
button[type="submit"] {
    background-color: rgb(214, 214, 243);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    border: none;
    font-size: larger;
    box-shadow: 0 2px 4px 0 black;
    border-radius: 5px;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
    cursor: pointer;
}

input[type="submit"]:active,
button[type="submit"]:active {
    box-shadow: inset 0 4px 4px 0 black;
    position: relative;
    top: 4px;
    left: -2px;
    background-color: rgb(204, 204, 243);
}